.container {
  width: 100%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  text-align: center;
  margin-bottom: 15px;

  span.category {
    display: block;
    margin-top: 2rem;

    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;

  .movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 990px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    max-width: 100% !important;
    height: auto !important;
  }

  nav.sidebar .buttons-container {
    align-items: center;
  }
}
